.cabecera-listado {
    display: flex;
    justify-content: space-between;
}

.div-panel {
    padding: 30px;
}

.opciones {
    display: flex;
}

.opciones div {
    border: 3px solid black;
    display: block;
    width: 110px;
    text-align: center;
}

.opciones h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

.div-panel a {
    text-decoration: none;
    display: block;
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.opcion {
    text-align: center;
}

.opcion h2 {
    font-weight: 500;
    font-size: 30px;
}

.opcion img {
    width: 250px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .div-panel {
        margin: 15px;
        padding: 15px;
    }

    .titulo {
        margin-right: 10px;
    }

    .titulo h1 {
        font-size: 30px;
    }

    .opciones h2 {
        font-size: 25px;
    }

    .menu {
        display: flex;
        height: 70%;
    }

    .opcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .opcion img {
        width: 13rem;
    }
}

@media (max-width: 425px) {

    .cabecera-listado {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .filtrador {
        order: 1;
    }

    .titulo {
        order: 2;
    }

    .div-panel {
        height: 90%;
    }

    .menu {
        padding: 5px;
    }

    .opcion img {
        width: 9rem;
    }
}