.col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 70px;
    border: 1px solid black;
}

.fila {
    text-align: center;
}

.cont-img,
.cont-img-coste {
    width: 466px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-img img,
.cont-img-coste img {
    width: 200px;
}

.button {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    width: 250px;
}

form input[type="text"],
#corte,
#coste {
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    font-size: 25px;
    margin: -25px 0px 0px 0px;
    padding: 5px;
    text-align: center;
    width: 450px;
}

form h2 {
    font-size: 30px;
    font-weight: 500;
}

.col-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 70px 0px 70px;
}

.col-botones-coste {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 70px 0px 70px;
}

.col-botones p {
    height: 50px;
}

@media (max-width: 1230px) {

    form input[type="text"],
    #corte,
    #coste {
        border-radius: 15px;
        display: block;
        font-size: 25px;
        margin: -25px 0px 0px 0px;
        padding: 5px;
        width: 400px;
    }

    .cont-img,
    .cont-img-coste {
        width: 400px;
    }
}