.col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0px 70px;
    border: 1px solid black;
}

.fila {
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.fila .cont-img {
    width: 466px;
}

.fila .cont-img img {
    height: 12.5rem;
}

.button {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    width: 250px;
}

form input[type="text"],
#corte,
#coste {
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    width: 450px;
}

form h2 {
    font-size: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: -5px;
}

.col-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 70px;
}

.col-botones-coste {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 70px 0px 70px;
}

.col-botones p {
    height: 50px;
}

@media (max-width: 1230px) {

    form input[type="text"],
    #corte,
    #coste,
    .cont-img,
    .cont-img-coste {
        width: 400px;
    }
}

@media (max-width: 1130px) {

    form input[type="text"],
    #corte,
    #coste,
    .cont-img,
    .cont-img-coste {
        width: 350px;
    }
}

@media (max-width: 1030px) {

    form input[type="text"],
    #corte,
    #coste,
    .cont-img,
    .cont-img-coste {
        width: 300px;
    }
}

@media (max-width: 930px) {

    form input[type="text"],
    #corte,
    #coste,
    .cont-img,
    .cont-img-coste {
        height: 20px;
        font-size: 20px;
        width: 250px;
    }

    form h2 {
        font-size: 25px;
    }

    .cont-img img {
        width: 5rem;
    }
}