.col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0px 70px;
}

.fila {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.fila .cont-img {
    width: 466px;
}

.fila .cont-img img {
    height: 12.5rem;
}

.button {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    width: 250px;
}

form input[type="text"],
#corte,
#coste {
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    width: 450px;
}

form h2 {
    font-size: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: -5px;
}

.col-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 70px;
}

.col-botones-coste {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 70px 0px 70px;
}

.col-botones p {
    height: 50px;
}

@media (max-width: 1230px) {

    form input[type="text"],
    #corte,
    #coste {
        width: 416px;
    }

    .fila .cont-img {
        width: 432px;
    }
}

@media (max-width: 1160px) {

    form input[type="text"],
    #corte,
    #coste {
        width: 400px;
    }

    .fila .cont-img {
        width: 418px;
    }
}

@media (max-width: 1130px) {

    form input[type="text"],
    #corte,
    #coste,
    .cont-img,
    .cont-img-coste {
        width: 350px;
    }

    .fila .cont-img {
        width: 366px;
    }
}

@media (max-width: 1030px) {

    form input[type="text"],
    #corte,
    #coste,
    .cont-img,
    .cont-img-coste {
        width: 300px;
    }

    .fila .cont-img {
        width: 316px;
    }
}

@media (max-width: 930px) {

    form input[type="text"],
    #corte,
    #coste {
        height: 20px;
        font-size: 18px;
        width: 250px;
    }

    form h2 {
        font-size: 25px;
    }

    .fila .cont-img {
        width: 266px;
    }

    .fila .cont-img img {
        height: 10rem;
    }

    .button {
        font-size: 25px;
    }
}

@media (max-width: 830px) {
    .col {
        flex-direction: column;
    }

    form input[type="text"],
    #corte,
    #coste {
        height: 20px;
        font-size: 18px;
        width: 400px;
    }

    .fila .cont-img {
        margin-top: 10px;
    }

    .fila .cont-img img {
        height: 7rem;
    }

    .button {
        width: 200px;
        font-size: 22px;
    }
}

@media (max-width: 710px) {

    form input[type="text"],
    #corte,
    #coste {
        height: 20px;
        font-size: 18px;
        width: 300px;
    }

    .col {
        padding: 0px;
    }

    .button {
        width: 150px;
    }
}

@media (max-width: 426px) {
    .cont {
        flex-direction: column;
    }

    .div-menu img {
        padding: 10px;
        height: 30px;
        width: 30px;
    }

    .div-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-right: 0px;
        border-bottom: 5px solid black;
    }

    #salir img {
        margin-top: 0px;
    }

    .activo {
        border-right: 3px solid black;
        border-left: 3px solid black;
        border-bottom: 0px;
        border-top: 0px;
    }

    .div-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px;
        width: auto;
        padding: 15px;
    }

    form {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .div-panel h1 {
        font-size: 30px;
    }

    .fila h2 {
        font-size: 20px;
    }

    .col {
        margin-top: -10px;
    }

    form h2 {
        margin-bottom: 5px;
    }

    form input[type="text"],
    #corte,
    #coste {
        height: 20px;
        font-size: 18px;
        width: 250px;
    }

    .col-botones {
        justify-content: center;
        width: 100%;
        margin: 0;
        border: none;
    }

    .button {
        width: 150px;
        margin: 0px 10px;
        font-size: 20px;
    }
}